@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    background-color: #FFFFFF;
    height: 80px;
    display: flex;
}

.container-elementos-header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal {
    color: #0000EE;
    font-size: 24px;
    font-weight: 400;
}

.label-pesquisa {
    height: 40px;
    background-color: #DB1E8C;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.input-pesquisa {
    background-color: transparent;
    border: none;
    padding: 4px;
}

::placeholder {
    color: #FF97D3;
    font-size: 14px;
    padding: 2.5px;
}

.input-pesquisa:active, .input-pesquisa:focus {
    outline: 1px solid white;
}

.trilhas {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin: 0 auto;
    padding-top: 40px;
    justify-content: space-between;
    max-width: 100vw;
}

.trilhas-info {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    padding: 32px;
    gap: 32px;
    width: 400px;
    margin-bottom: 40px;
    background-color: #F5F5F5;
    border-radius: 4px;
}

.trilhas-info h2 {
    color: #364372;
    font-size: 24px;
}

.trilhas-texto {
    font-size: 16px;
    line-height: 21px;
}

.conferir-ementa {
    color: #264FEC;
    border: 1px solid;
    border-radius: 4px;
    align-self: baseline;
    margin-top: auto;
    padding: 15px 20px;
    font-size: 14px;
    text-decoration: none;
}

.conferir-ementa:hover {
    background-color: #264FEC;
    color: #ffffff;
    transition: .5s ease;
    box-shadow: inset 0 0 0 1px #525071;
}

.rodape-container {
    background-color: white;
    height: 110px;

}

.rodape {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logos-esquerda {
    display: flex;
    gap: 25px;
}

.logos-centro {

}

.links-direita {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.links {
    display: flex;
    flex-direction: column;
    line-height: 1.75;
    font-size: 14px;
    flex: 1 0 auto;
    justify-content: center;
}

.links a {
    text-decoration: none;
    color: #000000;
}

.icones-redes-sociais {
/*    display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    flex: 1 0 auto;
}

.redes-sociais {
    margin: 0 15px;
    display: flex;
    gap: 15px;
}

.grupo-boticario {
    font-size: 14px;
    text-align: center;
}